.v-divider {
    width: 0.5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5px 15px 5px 15px;
    overflow: auto;
}

.h-divider {
    width: 100%;
    height: 0.5px;
    background-color:rgba(0, 0, 0, 0.397);
    margin: 10px 0 10px;
}