<div class="card-img-top">
    <div class="card-img-top-text">
        <div class="title">U.S. Passes 12 Million Total Cases and Breaks Daily Record</div>
        <ul class="body">
            <li>The country passed 11 million total coronavirus cases on Sunday; now, its caseload has soared past 12 million.</li>
            <li>Pfizer said that it had submitted an application to the F.D.A. to authorize its coronavirus vaccine for emergency use.
                 Catch up on the latest.</li>
        </ul>
        <div class="h-divider"></div>
        <div class="seconde-title">1 America, 1 Pandemic, 2 Realities</div>
        <div class="seconde-body">Journeys through two states found Americans leading starkly different lives. New Mexico feels at a standstill. 
            In South Dakota, life is going right on.</div>
    </div>
    <div class="v-divider"></div>
    <div class="card-img-top-img">
        <img class="card-img" src="../../../../../assets/us-covid19-map.png">
        <div class="title">In All 50 States, Deaths Are Now Higher Than Normal</div>
        <div class="body">Since the virus struck, 326,000 more people have died than usual across the U.S. That number is much higher than the
             official toll, our analysis shows.</div>
    </div>
</div>
