<div class="home-card">
    <div class="home-card-text">
        <div class="title">The County With No Coronavirus Cases (And Plenty Of Suspicion)</div>
        <div class="h-divider"></div>
        <div class="body">Officially, only one county in the continental U.S. has had zero 
            cases: Loving County, in rural West Texas. But has it really avoided the pandemic?</div>
    </div>
    <div class="home-card-img">
        <img class="card-img" src="../../../../../assets/card-img.jpg">
    </div>
</div>
