<app-world-header></app-world-header>
<div class="global-div">
    <div class="section-title">
        <p class="title">World News</p>
    </div>
    <div class="h-divider"></div>
    <div class="latest-news">
        <div class="latest-news-left">
            <div class="card-img-top-img">
                <img class="card-img" src="../../../../../assets/world-news1.jpg">
                <div class="title">In Argentina, Maradona’s Death Sets Off a Vivid Display of Public Grief</div>
                <div class="body">For many Argentines, Diego Maradona, who died on Wednesday, was no mere soccer superstar. 
                    “I feel like a member of my family just died,” said one.</div>
                <div class="editor">2h ago . By DANIEL POLITI</div>
            </div>
        </div>
        <div class="v-divider"></div>
        <div class="latest-news-mid">
            <div class="card-img-top-img">
                <img class="card-img" src="../../../../../assets/world-news2.jpg">
                <div class="title">South Korean Mastermind of Exploitation Chat Rooms Gets 40 Years in Prison</div>
                <div class="body">Cho Joo-bin was convicted of blackmailing young women into making sexually explicit
                     video clips that he sold online.</div>
                <div class="editor">3h Ago . By CHOE SANG-HUN</div>
            </div>
        </div>
        <div class="v-divider"></div>
        <div class="latest-news-right">
            <div class="card-img-top-img">
                <img class="card-img" src="../../../../../assets/world-news3.jpg">
                <div class="title">A Feared Law to Protect the Monarchy Returns Amid Thailand’s Protests</div>
                <div class="body">The country’s lèse-majesté law, which makes insulting the king punishable 
                    by years in prison, is being used against the protesters’ leadership for the first time.</div>
                <div class="editor">3h Ago . By CHOE SANG-HUN</div>
            </div>
            <div class="h-divider"></div>
            <div class="card-img-top-img">
                <img class="card-img" src="../../../../../assets/world-news4.jpg">
                <div class="title">Iran Frees British-Australian Scholar in Prisoner Swap</div>
                <div class="body">Iranian state media said the scholar, Kylie Moore-Gilbert, was 
                    released in return for three Iranians. Social media identified the Iranians as men detained in Thailand on bomb plot charges.</div>
                <div class="editor">3h Ago . By CHOE SANG-HUN</div>
            </div>
        </div>
    </div>
    <div class="h-divider"></div>

    <div class="news-section">
        <div class="small-card">
            <div class="small-card-img"><img class="card-img" src="../../../../../assets/news1.jpg"></div>
            <div class="small-card-body">
                Guns, Drugs and Viral Content: Welcome to Cartel TikTok
            </div>
        </div>
        <div class="small-card">
            <div class="small-card-img"><img class="card-img" src="../../../../../assets/news2.jpg"></div>
            <div class="small-card-body">
                Closing Time for a Village’s Last Pub?
            </div>
        </div>
        <div class="small-card">
            <div class="small-card-img"><img class="card-img" src="../../../../../assets/news3.jpg"></div>
            <div class="small-card-body">
                Beijing Takes Its South China Sea Strategy to the Himalayas
            </div>
        </div>
        <div class="small-card">
            <div class="small-card-img"><img class="card-img" src="../../../../../assets/news4.jpg"></div>
            <div class="small-card-body">
                As Iran Threatens Payback After Assassination, Germany Urges Restraint
            </div>
        </div>
        <div class="small-card">
            <div class="small-card-img"><img class="card-img" src="../../../../../assets/news5.jpg"></div>
            <div class="small-card-body">
                Assassination in Iran Could Limit Biden’s Options. Was That the Goal?
            </div>
        </div>
        <div class="small-card">
            <div class="small-card-img"><img class="card-img" src="../../../../../assets/news6.jpg"></div>
            <div class="small-card-body">
                Macron Says Images of French Police Beating Black Man ‘Shame Us’
            </div>
        </div>
        <div class="small-card">
            <div class="small-card-img"><img class="card-img" src="../../../../../assets/new7.jpg"></div>
            <div class="small-card-body">
                He Once Trafficked in Rare Birds. Now, He Tells How It’s Done.
            </div>
        </div>
        <div class="small-card">
            <div class="small-card-img"><img class="card-img" src="../../../../../assets/news8.jpg"></div>
            <div class="small-card-body">
                Trump Gave W.H.O. a List of Demands. Hours Later, He Walked Away.
            </div>
        </div>
        <div class="small-card">
            <div class="small-card-img"><img class="card-img" src="../../../../../assets/news9.jpg"></div>
            <div class="small-card-body">
                Gunmen Assassinate Iran’s Top Nuclear Scientist in Ambush, Provoking New Crisis
            </div>
        </div>
        <div class="small-card">
            <div class="small-card-img"><img class="card-img" src="../../../../../assets/news10.jpg"></div>
            <div class="small-card-body">
                Jailed, Exiled and Silenced: Smothering East Africa’s Political Opposition
            </div>
        </div>
    </div>
    <div class="h-divider"></div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="latest-news-tab" data-toggle="tab" href="#latest-news" role="tab" aria-controls="latest-news" aria-selected="true">Latest</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="search-tab" data-toggle="tab" role="tab" href="#search" aria-controls="search" aria-selected="false">Search</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="latest-news" role="tabpanel" aria-labelledby="latest-news-tab">
            <app-latest-world-news></app-latest-world-news>
        </div>
        <div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
            1
        </div>
      </div>
</div>