<div class="opinion-card-image">
<div class="author">
    <p class="author-name">Nicholas Kristof</p>
    <div class="title">When Trump Was Right and Many Democrats Wrong</div>
<div class="body">Children have suffered because many mayors and governors were too willing to close public schools.</div>
</div>
<img class="author-icon" src="../../../../../assets/author-icon1.png">    
</div>
<div class="h-divider"></div>
<div class="opinion-card-image">
    <div class="author">
        <p class="author-name">Farhad Manjoo</p>
        <div class="title">I Traced My Covid-19 Bubble and It’s Enormous</div>
    <div class="body">And if you have kids, yours probably is, too.</div>
    </div>
    <img class="author-icon" src="../../../../../assets/author-icon2.png">
    <img class="opinion-img" src="../../../../../assets/opinion-img.jpg">    
</div>
<div class="h-divider"></div>
<div class="s-opinion-holder">
    <div class="s-opinion-holder-left">
        <div class="opinion-card-image">
            <div class="author">
                <p class="author-name">Roxane Gay</p>
                <div class="title">Is This Where We Are America?</div>
            </div>
            <img class="author-icon" src="../../../../../assets/author-icon3.png">    
        </div>
        <div class="h-divider"></div>
        <div class="opinion-card-image">
            <div class="author">
                <p class="author-name">Yoval Noah Harari</p>
                <div class="title">When the World Seems Like One Big Conspiracy
                </div>
            </div>
            <img class="author-icon" src="../../../../../assets/author-icon4.png">    
        </div>
        <div class="h-divider"></div>
        <div class="opinion-card-image">
            <div class="author">
                <p class="author-name">Ioan Grillo</p>
                <div class="title">End the War on Drugs Now</div>
            </div>
            <img class="author-icon" src="../../../../../assets/author-icon5.png">    
        </div>
        <div class="h-divider"></div>
        <div class="opinion-card-image">
            <div class="author">
                <p class="author-name">The Editorial Board</p>
                <div class="title">A Quick End to a Dangerous War</div>
            </div>
            <img class="author-icon" src="../../../../../assets/author-icon1.png">    
        </div>
        <div class="h-divider"></div>
        <div class="opinion-card-image">
            <div class="author">
                <p class="author-name">Farhad Manjoo</p>
                <div class="title">I Traced My Covid-19 Bubble and It’s Enormous</div>
            </div>
            <img class="author-icon" src="../../../../../assets/author-icon2.png">    
        </div>
    </div>
    <div class="v-divider"></div>
    <div class="s-opinion-holder-right">

        <div class="opinion-card-image">
            <div class="author">
                <p class="author-name">Paul Krugman</p>
                <div class="title">Making the Most of the Coming Biden Boom
                </div>
            </div>
            <img class="author-icon" src="../../../../../assets/author-icon4.png">    
        </div>
        <div class="h-divider"></div>
        <div class="opinion-card-image">
            <div class="author">
                <p class="author-name">Jamelle Bouie</p>
                <div class="title">If Biden Wants to Be Like F.D.R., He Needs the Left</div>
            </div>
            <img class="author-icon" src="../../../../../assets/author-icon5.png">    
        </div>
        <div class="h-divider"></div>
        <div class="opinion-card-image">
            <div class="author">
                <p class="author-name">David Brooks</p>
                <div class="title">Nine Nonobvious Ways to Have Deeper Conversations</div>
            </div>
            <img class="author-icon" src="../../../../../assets/author-icon1.png">    
        </div>
        <div class="h-divider"></div>
        <div class="opinion-card-image">
            <div class="author">
                <p class="author-name">Elisabeth Rosenthal</p>
                <div class="title">When Will We Throw Our Masks Away? I Asked Dr. Fauci</div>
            </div>
            <img class="author-icon" src="../../../../../assets/author-icon2.png">    
        </div>
    </div> 
    
</div>
