<div class="news-section">
<div class="small-card">
    <div class="small-card-category">World News</div>
    <div class="small-card-img"><img class="card-img" src="../../../../../assets/news1.jpg"></div>
    <div class="small-card-body">
        Saudi Arabia and Human Rights Activists Fight Over Its Image at G20
        As Pompeo Prepares to Meet Afghan Warring Parties, Kabul Is Attacked
        A Man With a Van Is Challenging U.K. Drug Policy
    </div>
</div>
<div class="small-card">
    <div class="small-card-category">U.S. News</div>
    <div class="small-card-img"><img class="card-img" src="../../../../../assets/news2.jpg"></div>
    <div class="small-card-body">
        For California Governor the Coronavirus Message Is Do as I Say, Not as I Dine
        Many G.O.P. Governors Avoid Stating Plainly That Biden Won
        To Protect Her Parents, She’s Keeping Her Daughter Out of School
    </div>
</div>
<div class="small-card">
    <div class="small-card-category">Politics</div>
    <div class="small-card-img"><img class="card-img" src="../../../../../assets/news3.jpg"></div>
    <div class="small-card-body">
        Georgia and Michigan Deliver Blows to Trump’s Efforts to Undo the Election
        Business and World Leaders Move On as Trump Fights to Reverse Election
        Which States Have Certified Presidential Vote Totals
    </div>
</div>
<div class="small-card">
    <div class="small-card-category">New York</div>
    <div class="small-card-img"><img class="card-img" src="../../../../../assets/news4.jpg"></div>
    <div class="small-card-body">
        What Happened When a School District Banned Thin Blue Line Flags
        When New York City Schools Reopen, About 700,000 Students Won’t Be There
        Spate of Violent Subway Attacks Unnerves Riders in N.Y.C.
    </div>
</div>
<div class="small-card">
    <div class="small-card-category">Business</div>
    <div class="small-card-img"><img class="card-img" src="../../../../../assets/news5.jpg"></div>
    <div class="small-card-body">
        How One Airline’s Pandemic Hurt Becomes Everyone’s Pain
        How Steve Bannon and a Chinese Billionaire Created a Right-Wing Coronavirus Media Sensation
        Business and World Leaders Move On as Trump Fights to Reverse Election
    </div>
</div>
<div class="small-card">
    <div class="small-card-category">Technology</div>
    <div class="small-card-img"><img class="card-img" src="../../../../../assets/news6.jpg"></div>
    <div class="small-card-body">
        The Best Video Games to Get Lost In This Holiday Season
        How an Online Attack ‘Brought Twitter to Its Knees’
        How Steve Bannon and a Chinese Billionaire Created a Right-Wing Coronavirus Media Sensation
    </div>
</div>
<div class="small-card">
    <div class="small-card-category">Science</div>
    <div class="small-card-img"><img class="card-img" src="../../../../../assets/new7.jpg"></div>
    <div class="small-card-body">
        Designed to Deceive: Do These People Look Real to You?
        Signs of Recent Volcanic Eruption on Mars Hint at Habitats for Life
        When Sharks Turned Up at Their Beach, They Called in Drones
    </div>
</div>
<div class="small-card">
    <div class="small-card-category">Sports</div>
    <div class="small-card-img"><img class="card-img" src="../../../../../assets/news8.jpg"></div>
    <div class="small-card-body">
        Georgia and Michigan Deliver Blows to Trump’s Efforts to Undo the Election
        Business and World Leaders Move On as Trump Fights to Reverse Election
        Which States Have Certified Presidential Vote Totals
    </div>
</div>
<div class="small-card">
    <div class="small-card-category">Obituaries</div>
    <div class="small-card-img"><img class="card-img" src="../../../../../assets/news9.jpg"></div>
    <div class="small-card-body">
        What Happened When a School District Banned Thin Blue Line Flags
        When New York City Schools Reopen, About 700,000 Students Won’t Be There
        Spate of Violent Subway Attacks Unnerves Riders in N.Y.C.
    </div>
</div>
<div class="small-card">
    <div class="small-card-category">The Upshot</div>
    <div class="small-card-img"><img class="card-img" src="../../../../../assets/news10.jpg"></div>
    <div class="small-card-body">
        How One Airline’s Pandemic Hurt Becomes Everyone’s Pain
        How Steve Bannon and a Chinese Billionaire Created a Right-Wing Coronavirus Media Sensation
        Business and World Leaders Move On as Trump Fights to Reverse Election
    </div>
</div>
</div>