<div class="footer">
    <div class="h-divider"></div>
    <div class="h-divider"></div>
    <img class="footer-img" src="../../../assets/NYT-logo.svg">
    <div class="footer-category">
        <div class="footer-category-section">
            <div class="title">NEWS</div>
            <div class="category">Home Page</div>
            <div class="category">World</div>
            <div class="category">U.S.</div>
            <div class="category">Politics</div>
            <div class="category">Election Results</div>
            <div class="category">New York</div>
            <div class="category">Business</div>
            <div class="category">Tech</div>
            <div class="category">Science</div>
            <div class="category">Sports</div>
        </div>
        <div class="footer-category-section">
            <div class="title">OPINION</div>
            <div class="category">Today's Opinion</div>
            <div class="category">Op-Ed Columnists</div>
            <div class="category">Editorials</div>
            <div class="category">Op-Ed Contributors</div>
            <div class="category">Letters</div>
            <div class="category">Sunday Review</div>
            <div class="category">Video: Opinion</div>
        </div>
        <div class="footer-category-section">
            <div class="title">ARTS</div>
            <div class="category">Today's Arts</div>
            <div class="category">Art & Design
            </div>
            <div class="category">Books</div>
            <div class="category">Dance</div>
            <div class="category">Movies</div>
            <div class="category">Music</div>
            <div class="category">Pop Culture</div>
            <div class="category">Television</div>
            <div class="category">Theater</div>
            <div class="category">Video: Arts</div>
        </div>
        <div class="footer-category-section">
            <div class="title">LIVING</div>
            <div class="category">At Home</div>
            <div class="category">Automobiles</div>
            <div class="category">Games</div>
            <div class="category">Education</div>
            <div class="category">Food</div>
            <div class="category">Health</div>
            <div class="category">Jobs</div>
            <div class="category">Love</div>
            <div class="category">Magazine</div>
            <div class="category">Parenting</div>
            <div class="category">Real Estate</div>
            <div class="category">Recipes</div>
            <div class="category">Style</div>
            <div class="category">T Magazine</div>
            <div class="category">Travel</div>
        </div>
        <div class="footer-category-section">
            <div class="title">MORE</div>
            <div class="category">Reader Center</div>
            <div class="category">WireCutter</div>
            <div class="category">Live Events</div>
            <div class="category">Politics</div>
            <div class="category">Election Results</div>
            <div class="category">New York</div>
            <div class="category">Business</div>
            <div class="category">Tech</div>
            <div class="category">Science</div>
            <div class="category">Sports</div>
        </div>
    </div>
    <div class="copyrights">
        <div class="h-divider"></div>
        <p class="company">© 2020 The New York Times Company &nbsp;&nbsp;&nbsp;&nbsp;   NYTco &nbsp;&nbsp;&nbsp;&nbsp;   Contact Us &nbsp;&nbsp;&nbsp;&nbsp;   Work With Us  &nbsp;&nbsp;&nbsp;&nbsp;  Advertise &nbsp;&nbsp;&nbsp;&nbsp;   T Brand Studio  &nbsp;&nbsp;&nbsp;&nbsp;  Your Ad Choices  &nbsp;&nbsp;&nbsp;&nbsp;  Privacy Policy  &nbsp;&nbsp;&nbsp;&nbsp;  Terms of Service  &nbsp;&nbsp;&nbsp;&nbsp;  Terms of Sale  &nbsp;&nbsp;&nbsp;&nbsp;  Site Map  &nbsp;&nbsp;&nbsp;&nbsp;  Help  &nbsp;&nbsp;&nbsp;&nbsp;  Subscriptions</p>
    </div>
</div>