<div class="title">
    <img class="title-img" src="../../../assets/NYT-logo.svg">
</div>
<div 
[ngClass]="{'navbar1' : true, 'sticky' : isSticky}"
>

<div class="nav">
<a routerLink="world" class="nav-btn" >World</a>
<a href="#" class="nav-btn" >U.S.</a>
<a href="#" class="nav-btn" >Politics</a>
<a href="#" class="nav-btn" >N.Y.</a>
<a href="#" class="nav-btn" >Business</a>
<a href="#" class="nav-btn" >Opinion</a>
<a href="#" class="nav-btn" >Tech</a>
<a href="#" class="nav-btn" >Sciences</a>
<a href="#" class="nav-btn" >Health</a>
<a href="#" class="nav-btn" >Arts</a>
<a href="#" class="nav-btn" >Books</a>
<a href="#" class="nav-btn" >Style</a>
<a href="#" class="nav-btn" >Food</a>
<a href="#" class="nav-btn" >Travel</a>
<a href="#" class="nav-btn" >Magazine</a>


</div> 
</div>
