

<div class="global-div">
    <app-header></app-header>
    <div class="first-section">
        <div class="first-section-left">
            <p class="title"> Early Data Show Moderna’s Coronavirus Vaccine Is 94.5% Effective</p>
            <ul class="body">
                <li>Moderna is the second company to report preliminary data on an apparently successful vaccine. 
                Pfizer was the first, reporting 90 percent effectiveness one week ago.</li>
                <li>Moderna is the second company to report preliminary data on an apparently successful vaccine. 
                Pfizer was the first, reporting 90 percent effectiveness one week ago.</li>
            </ul>
        </div>
        <div class="first-section-middle">
            <app-home-slider></app-home-slider>
        </div>
        <div class="v-divider"></div>
        <div class="first-section-right">
            <p class="title">The drugmaker Moderna reported promising early results from its coronavirus vaccine trial. Here’s where things stand.</p>
            <div class="h-divider"></div>
            <p class="title">Coronavirus</p>
            <ul class="body">
                <li>After holding out, Republican governors reverse course and issue mask mandates.</li>
                <li>California is ‘pulling the emergency brake’ on its reopening plans.</li>
            </ul>
            <p class="title">Coronavirus</p>
            <ul class="body">
                <li>After holding out, Republican governors reverse course and issue mask mandates.</li>
                <li>California is ‘pulling the emergency brake’ on its reopening plans.</li>
            </ul>
            <p class="title">Coronavirus</p>
            <ul class="body">
                <li>After holding out, Republican governors reverse course and issue mask mandates.</li>
                <li>California is ‘pulling the emergency brake’ on its reopening plans.</li>
            </ul>
        </div>
    </div> 
    
    <div class="seconde-section">
        <div class="seconde-section-left">
            <div class="h-divider"></div>
            <app-card-image-right></app-card-image-right>
            <div class="h-divider2"></div>
        <p class="title">Michigan Republicans Backtrack After Refusing to Certify Biden’s Win</p>
        <p class="body">After an outcry, G.O.P. members of a key elections board reversed their 
            decision to hold up approval of President-elect Joe Biden’s victory.</p>    
        </div>
        
            <div class="v-divider"></div>
        
        <div class="seconde-section-right">
            <div class="h-divider"></div>
            <div class="h-divider"></div>
            <p class="category">Opinion</p>
            <app-opinion-card></app-opinion-card>
        </div>
    </div>

</div>