

<div class="global-div">
    <app-header></app-header>
    <p>core works!</p>
    <div class="first-section">
        <div class="first-section-left">
            <p class="title"> Early Data Show Moderna’s Coronavirus Vaccine Is 94.5% Effective</p>
            <p class="body">
                Moderna is the second company to report preliminary data on an apparently successful vaccine. 
                Pfizer was the first, reporting 90 percent effectiveness one week ago.
            </p>
        </div>
        <div class="first-section-middle">
            <app-home-slider></app-home-slider>
        </div>
        <div class="first-section-right"></div>
    </div>    

</div>